h1.heroh {
  opacity: 0;
  color: rgb(55 65 81);
  /* font-size: 75px; */
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.25;
  animation: slideIn 860ms ease-in-out forwards;
  
}

h1.heroh.d2 {
  animation-delay: 200ms;
}
h1.heroh.d3 {
  animation-delay: 400ms;
}

/* .slide .two {
  animation-delay: -0.9s;
}
.slide .three {
  animation-delay: -0.7s;
} */

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/